<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IFavoriteMapper">

	<!-- 즐겨찾기 추가 -->
	<insert id="insertFavorite" parameterType="FavoriteDTO">
		INSERT INTO FAVORITE(
		FAVORITE_NO, USER_NO, COURSE_NAME, CPI_NAME, CPI_IDX, AREA_GU)
		VALUES(
		(SELECT IFNULL(MAX(CAST(FA.FAVORITE_NO AS UNSIGNED)), 0)+1 FROM FAVORITE FA),
		#{user_no}, #{course_name}, #{cpi_name}, #{cpi_idx}, #{area_gu}
		)
	</insert>
	
	<!-- 즐겨찾기 리스트 -->
	<select id="getFavoriteList" parameterType="FavoriteDTO" resultType="FavoriteDTO">
		SELECT * FROM FAVORITE WHERE USER_NO = #{user_no}
		ORDER BY
		FAVORITE_NO DESC
	</select>
	
	<!-- 즐겨찾기 중복 확인 -->
	<select id="sameFavorite" parameterType="FavoriteDTO" resultType="int">
	SELECT COUNT(COURSE_NAME) FROM FAVORITE WHERE USER_NO = #{user_no} AND COURSE_NAME = #{course_name} AND CPI_NAME = #{cpi_name}
	</select>
	
	<!-- 즐겨찾기 삭제 -->
	<delete id="deleteFavorite" parameterType="FavoriteDTO">
	DELETE FROM FAVORITE WHERE USER_NO = #{user_no} AND COURSE_NAME = #{course_name} and CPI_NAME = #{cpi_name}
	</delete>
</mapper>